{% extends 'admin-base.html' %}

{% load static %}
{% load humanize %}

{% block title %}About Us | iRehab{% endblock %}

{% block content %}
<style>

/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}

   .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

/* font CSS */
body {
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    color: #494949;
    font-size: 16px;
}

a:hover {
    color: #465cff;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #494949;
}


a {
    color: #494949;
}

.capital {
    text-transform:uppercase;
}


i {
    font-style: normal;
    font-size: 42px;
    text-align: center;
    line-height: 64px;
}

/* Breadcum bar */
.bread-bar {
    background: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-height: 40px;
    height: auto;
    position: relative;
    z-index: 555;
}
.breadcrumb {
    background: none;
    margin: 0;
    font-weight: 300;
    padding-left: 0;
    font-size: 13px;
}
.breadcrumb a {
    color: #999;
}
.breadcrumb > .active {
    color: #666;
}
.breadcrumb > li + li::before {
    content: "\203A";
    color: #999;
    padding: 0 8px;
}
</style>

<div class="image-aboutus-banner" style="">
    <div class="container">
     <div class="row">
         <div class="col-md-12">
          <h1 class="lg-text">About Us</h1>
          <p class="image-aboutus-para">We help you out of your addiction together</p>
        </div>
     </div>
 </div>
 </div>
    <div class="bread-bar">
         <div class="container">
             <div class="row">
                 <div class="col-md-8 col-sm-6 col-xs-8">
                     <ol class="breadcrumb">
                         <li><a href="{% url 'doctor:dashboard' %}">Home</a></li>
                         <li class="active">About Us</li>
                     </ol>
                 </div>
                 <div class="col-md-4 col-sm-6 col-xs-4">
                 </div>
             </div>
        </div>
    </div>

     <div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong">Who we are and<br>what we do</h1>
                <p class="lead">
                    We help you out of your addiction together
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    E-Rehab mission is to inspire hope and contribute to health and well-being by providing the best care and recovery from drug addiction to every patient through integrated clinical practice, education and research. Our primary value is "The needs of the patient come first.".
                </p>
                <h4 class="font-weight-bold bg-primary text-light text-center rounded p-2">About Forum</h4>
                <p>
                    Successful treatment starts with an accurate diagnosis, and our experts take the time to get it right. A team of specialists will listen to your needs and evaluate your condition from every angle to make the very best plan for you
                </p>
            </div>
        </div>
    </div>
</div>

{%endblock%}