{% extends 'admin-base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Add Comment | iRehab{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">


    <!-- <script>
        var name = "{{ user.id }}";
        document.getElementById('id_name').value = name;
    </script> -->

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-8 ">
                <div class="card">
                    <div class="card-header">
                        <h3>Comment On This Question:</h3>
                    </div>
                    <form action="" method="post" class="form form-group card-body">
                        {% csrf_token %}
                        <p class="alert alert-primary"> "{{ current_question.narrative }}"</p>
                        <br>
                        {{form.errors}}
                        {{ form | crispy }} 
                        <br>
                        <button class="btn btn-primary rounded">Post</button>
                        <a class="btn btn-danger rounded" href="{% url 'doctor:qDetails' current_question.id %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script>
    var question = '{{current_question.id}}';
    var user = '{{ user.id }}';

    document.getElementById('id_question').value = question;
    document.getElementById('id_user').value = user;
</script>
    
{% endblock %}