{% extends 'admin-base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-11 mt-4">
            <div class="card">
                <div class="card-header bg-white">
                    {% for msg in messages %}
                        <div class="alert alert-primary alert-dismissable">
                            {{msg}}
                        </div>   
                    {% endfor %}
                    <h5>Outpatient Appointments</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Patient Name</th>
                                <th>Problem</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            {% for ap in app %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ap.user}}</td>
                                <td>{{ap.problem|slice:":20" }}</td>
                                <td>{{ap.scheduled}}</td>
                                <td>
                                    {% if ap.status == True %}
                                    <span class='alert alert-success p-1 pl-2 pr-2'>Approved</span>
                                    {% else %}
                                    <span class='alert alert-warning p-1 pl-2 pr-2'>Pending</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ap.status == False %}
                                    <a href="{% url 'doctor:approveApp' ap.id %}" class="">Approve</a> 
                                    <a href="{% url 'doctor:reschedule' ap.id %}" class="">Reschedule</a> 
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>           
    <div class="row">
        <div class="col-11 mt-4">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>Inpatient Appointments</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Patient Name</th>
                                <th>Problem</th>
                                <th>start Date</th>
                                <th>End date</th>
                                <th>Action</th>
                            </tr>
                            {% for ap in Inapp %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ap.user}}</td>
                                <td>{{ap.problem|slice:":20" }}</td>
                                <td>{{ap.starting_date}}</td>
                                <td>{{ap.finish_date}}</td>
                                <td>
                                    {% if ap.availability == True %}
                                    <a href="{% url 'doctor:approveApp' ap.id %}" class="">Approve</a> 
                                    <a href="{% url 'doctor:reschedule' ap.id %}" class="">Reschedule</a> 
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>           


{% endblock  %}