{% extends 'base.html' %}


{% load static %}

{% block title %}Ask Question | E-Rehab{% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}">


    

    {% for msg in messages %}
        {{msg}}
    {% endfor %}
    {{form.errors}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 card p-3 m-4">
                <form action="" method="post" class="form form-group">
                    {% csrf_token %}
                    <h4 class="alert alert-primary m-1 p-1"> <i class="fa fa-tags" aria-hidden="true"></i> Add Your Question:</h4>
                    <br>
                    <br>
                    <button class="btn btn-primary rounded">Post</button>
                    <a class="btn btn-danger rounded" href="{% url 'mainApp:chatroom' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById('id_user').value = name;
    </script>

<div style='background-color:white; width: 100%;'>
    <div class="main-container">
        <form action="" method="post">

            {% csrf_token %}
        <div class="question">


            <button class="button">Post</button>
            <a class="button" style="background-color: red;" href="">Cancel</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}